<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle|default("Strona z memami") }}</title>
    <link rel="stylesheet" href="style.css">
       <style>
		.banner {
			background-color: #000080;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
		}
        .left-banner {
            height: 100%;
			position: fixed;
			top: 50%;
			left: 0;
            background-color: ##000080;
			color: #fff;
			padding: 20px;
            z-index: 1;
		}
	</style>
  
</head>

<body style="background-color: #B803FF;  z-index: 2;">
    <div class="left-banner">
        <a href="http://localhost/zada/pub/">
    </div>
    	<div class="banner">
            <p>Hurtownia Memów</p>
        </div>
    </a>
    
